.btn-santander {
  width: auto;
  min-width: 208px;
  background-color: #ec0000;
  border: 1px solid #ec0000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 6px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.btn-santander .bg-arrow {
  display: inline-block;
  margin-left: 8px;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #fff;
}
